<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Book Management</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item" [routerLink]="['/admin/dashboard']"><a>Home</a></li>
                <li class="breadcrumb-item" [routerLink]="['/admin/manage_books']"><a >List</a></li>
                    <li class="breadcrumb-item active">Add Books</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="container" style="width: 100%;">
    <div class="card card-dark" style="width: 100%;">
        <div class="card-header">
            <span class="card-header-title font-weight-bold">{{ flag === 'create' ? 'Create Book Details' : 'Update Book
                Details'
                }}</span>
            <button class="btn btn-sm float-right" type="button">
                <i class="text-white fas fa-times-circle" [routerLink]="['/admin/manage_books']"></i>
            </button>
        </div>
        <div class="card-body">
            <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12 col-12 mb-10">
                        <div class="row">

                            <!-- <div class="form-group col-md-6 col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Book ID</span>
                                    </div>
                                    <input type="text" required="" class="form-control" formControlName="id">
                                </div>
                                <div *ngIf="bookForm.get('id')?.invalid && bookForm.get('id')?.touched"
                                    class="text-danger">
                                    Title is required.
                                </div>
                            </div> -->

                            <div class="form-group col-md-6 col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">ISBN
                                            <i class="fas fa-info-circle ml-2" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Its 10/13 digit nos which you can find behind a book."></i>
                                        </span>
                                    </div> 
                                    <input type="number" class="form-control" formControlName="isbn" (input)="onIsbnInput($event)" required />
                                </div>
                                <div *ngIf="bookForm.get('isbn')?.invalid && bookForm.get('isbn')?.touched"
                                    class="text-danger">
                                    ISBN is required.
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Book Title</span>
                                    </div>
                                    <input type="text" required="" class="form-control" formControlName="title">
                                </div>
                                <div *ngIf="bookForm.get('title')?.invalid && bookForm.get('title')?.touched"
                                    class="text-danger">
                                    Title is required.
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Publishers</span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="publication">
                                </div>
                                <div *ngIf="bookForm.get('publication')?.invalid && bookForm.get('publication')?.touched"
                                    class="text-danger">
                                    Publication is required.
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Book Price</span>
                                    </div>
                                    <input type="number" required="" class="form-control" formControlName="price">
                                </div>
                                <div *ngIf="bookForm.get('price')?.invalid && bookForm.get('price')?.touched"
                                    class="text-danger">
                                    Price is required.
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Edition</span>
                                    </div>
                                    <input type="text" required="" class="form-control" formControlName="edition">
                                </div>
                                <div *ngIf="bookForm.get('edition')?.invalid && bookForm.get('edition')?.touched"
                                    class="text-danger">
                                    Edition is required.
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Book Qty</span>
                                    </div>
                                    <input type="text" required="" class="form-control" formControlName="quantity">
                                </div>
                                <div *ngIf="bookForm.get('quantity')?.invalid && bookForm.get('quantity')?.touched"
                                    class="text-danger">
                                    quantity is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn btn-sm btn-dark ml-1" type="submit">
                                <i class="fas fa-save mr-1"></i>{{ flag === 'create' ? 'Create Book' : 'Update Book' }}
                            </button>
                            <button class="btn btn-sm btn-danger ml-1" type="button" (click)="bookForm.reset()">
                                <i class="far fa-trash-alt mr-1"></i>Clear Form
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>