.custom-ng-select{
  width: 80%;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: .25rem;
  width: 79%;
  margin-left: 20%;
}
.placeholder-text {
  color: #ababab;
}
.custom{
  height:36px;
}

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 36px;
  align-items: center
}

.error-message {
  /* margin-top: 5px;
  margin-bottom: 10px; */
  /* margin-left: 100px; */
}
.text-danger {
  margin-top: -15px;
  color: #dc3545 !important;
}
 /* Styles to improve validation message alignment */
 .form-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
}

.text-danger {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 14px;
  padding-left: 9px;}

.input-group-text {
  min-width: 120px; /* Ensures consistency across labels */
}