<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Book Management</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item" [routerLink]="['/admin/dashboard']">Home</li>
                    <li class="breadcrumb-item active">Manage Books</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="card">
        <div class="card-header" style="border-bottom: 2px solid #DD4B39;">
            <span class="card-title font-weight-bold">Manage Books</span>
            <a [routerLink]="['/admin/manage_books/add_books']" [queryParams]="{ flag: 'create' }">
                <span type="button" class="btn btn-sm btn-dark float-right">
                    <i class="fas fa-plus-circle mr-1"></i>Add Book
                </span>
            </a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Advanced Filter</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Type to search."
                                (input)="applyFilter($event)">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Import</span>
                            </div>
                            <div class="flex-grow-1 mb-2 mb-md-0 position-relative">
                                <input type="file" name="file" class="form-control text-sm ">
                            </div>
                            <div class="flex-shrink-0">
                                <button type="submit" class="btn btn-dark btn-sm mr-1 iconbutton height">
                                    <i class="fas fa-upload mr-1"></i><span class="text-sm">Import</span>
                                </button>
                                <a href="https://library-management.com/uploads/users_list.csv"
                                    class="btn btn-dark btn-sm height rounded-left-0">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive mt-3 my-custom-scrollbar">
                <table mat-table [dataSource]="dataSource" class="table table-bordered table-hover">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef class="sticky-header"> Book ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="isbn">
                        <th mat-header-cell *matHeaderCellDef class="sticky-header"> Isbn </th>
                        <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef class="sticky-header"> Book Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="publication">
                        <th mat-header-cell *matHeaderCellDef class="sticky-header"> Publication </th>
                        <td mat-cell *matCellDef="let element"> {{ element.publication }} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef class="sticky-header"> Book Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="edition">
                        <th mat-header-cell *matHeaderCellDef class="sticky-header"> Edition </th>
                        <td mat-cell *matCellDef="let element"> {{ element.edition }} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="sticky-header"> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="['/admin/manage_books/add_books']" [queryParams]="{ id: element.id, flag: 'edit' }">
                                <span type="button" class="btn btn-sm btn-dark float-left action_btn mr-1">
                                    <i class="far fa-edit"></i>
                                </span>
                            </a>
                            <a (click)="onGenerateBarcode(element.isbn)" matTooltip="Show Barcode">
                                <span type="button" class="btn btn-sm btn-dark float-left action_btn mr-1">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </a>
                            
                            <a (click)="onDownloadBarcode(element.isbn)">
                                <span type="button" class="btn btn-sm btn-dark float-left action_btn mr-1">
                                    <i class="fas fa-download"></i>
                                </span>
                            </a>
                            
                            <!-- <button type="button" (click)="delete(element.id)" class="btn btn-sm btn-danger float-left action_btn">
                                <i class="fas fa-trash-alt"></i>
                            </button> -->
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-no-data-row *matNoDataRow>
                        <td class="mat-cell size text-center" [attr.colspan]="displayedColumns.length">
                            No record found!
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
</div>