<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 ">
                <span class="float-sm-left">
                    <h1 class="breadcrumb-item active">User Management</h1>
                </span>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Home</a></li>
                    <li class="breadcrumb-item active">User Management</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <span class="card-header-title">Manage Users</span>

            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-8 col-12">
                        <label>Advanced Filter</label>
                        <input type="text" class="form-control" wire:model.lazy="filter_keyword"
                            placeholder="Type and Tab">
                    </div>
                    <div class="form-group col-md-4 col-12">
                        <label>Filter by role</label>
                        <select class="form-control" wire:model="filter_role">
                            <option value="" selected="">--Select--</option>
                            <option value="in_active">Show non activated users.</option>
                            <option value="super admin"> Super Admin</option>
                            <option value="student"> Student</option>
                            <option value="teacher"> Teacher</option>
                            <option value="librarian"> Librarian</option>
                        </select>
                    </div>
                    <div class="form-group col-12">

                        <button type="button" onclick="confirm_and_submit(this,'deleteBulk')"
                            class="btn btn-sm btn-dark mb-3"><i class="far fa-trash-alt mr-1"></i>Delete User
                        </button>
                        <button type="button" wire:click="toggleUserStatus()" class="btn btn-sm btn-dark mb-3"><i
                                class="fas fa-sort mr-1"></i>Toggle User
                        </button>
                        <button type="button" wire:click="printIdCards()" class="btn btn-sm btn-dark mb-3"><i
                                class="far fa-id-card mr-1"></i>Print Id Cards
                        </button>

                        <form method="post" class="float-right mb-3"
                            action="https://library-management.com/users-import" enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="XamiWcDPYePIGBNmiZFRSt8eCmz5VdEuUHnc5VgB">
                            <div class="d-inline">
                                <div class="input-group">
                                    <div class="input-group-prepend "><span class="input-group-text ">Import User</span>
                                    </div>
                                    <input type="file" name="file" class="form-control text-sm">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-sm btn-dark mr-1"><i
                                                class="fas fa-upload mr-1"></i>Import Users
                                        </button>
                                        <a href="https://library-management.com/uploads/users_list.csv"
                                            style="padding-top: 7px;" data-toggle="tooltip" data-placement="left"
                                            title="" class="btn btn-sm btn-dark"
                                            data-original-title="Download Template"><i class="fas fa-download"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-group col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover table-sm mt-1">
                                <thead>
                                    <tr>
                                        <th scope="col"><input type="checkbox" wire:model="selectAll"></th>
                                        <th scope="col">Uid</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Created On</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>