/* 
 */

  /* .menulist {
    background: #eee;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    margin-left: 115px;
    list-style-type: none;
    justify-content: center;
}

.menulist:empty::after {
  border: 1px solid rgb(45, 44, 44);
}

.menulist li:hover {
  cursor: pointer;
  background: #65abf6;

}

.menulist li {
  margin: 0px 0px 0px -8px;
  padding-left: 10px;  
  width: auto !important; 
  max-width: 450px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
} */

.container {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.user-details, .book-details {
  margin-top: 10px;
}

.list-group-item {
  padding: 10px 15px;
  font-size: 14px;
}

.ng-select {
  width: 100%;
}

.ng-select .ng-select-container {
  height: calc(1.5em + .75rem + 2px);
}

.ng-select .ng-select-container .ng-input {
  padding: .375rem .75rem;
}

.ng-select .ng-dropdown-panel {
  width: 100%;
}
