.container {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.user-details, .book-details {
  margin-top: 10px;
}

.list-group-item {
  padding: 10px 15px;
  font-size: 14px;
}

.ng-select {
  width: 100%;
}

.ng-select .ng-select-container {
  height: calc(1.5em + .75rem + 2px);
}

.ng-select .ng-select-container .ng-input {
  padding: .375rem .75rem;
}

.ng-select .ng-dropdown-panel {
  width: 100%;
}
