.custom-ng-select{
  width: 80%;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: .25rem;
  width: 79%;
  margin-left: 20%;
}
.placeholder-text {
  color: #ababab;
}
.custom{
  height:36px;
}