/* p {
  font-family: Lato;
}
*{
  margin:0;
  padding:0;
}

h4 {
  font-size: 16px; 
}

p {
  font-size: smaller;
  color: black;
}

.bar{
  background-color:red;
  box-shadow: 0 1px 1px #ccc;
  border-radius: 2px;
  width: 400px;
  padding: 4px;
  margin: 45px auto 3px;
  position:relative;
}

.bar input{
  background:#fff no-repeat 13px 13px;
  border: none;
  width: 100%;
  line-height: 19px;
  padding: 11px 0;

  border-radius: 2px;
  box-shadow: 0 2px 8px #c4c4c4 inset;
  text-align: left;
  font-size: 14px;
  font-family: inherit;
  color: #738289;
  font-weight: bold;
  outline: none;
  text-indent: 40px;
}

ul{
  list-style: none;
  width: 425px;
  margin: 0 auto;
  text-align: left;
}

ul li{
  background: #ddd;
  border-bottom: 3px solid whitesmoke;
  padding: 5px;
  overflow: hidden;
}

ul li p{
  text-align: center;
  font-weight: bold;
  padding-top: 7px;
} */


.custom-ng-select .ng-select-container {
  display: flex;
  align-items: center;
}

.custom-ng-select .ng-select-container .ng-value-container {
  display: flex;
  align-items: center;
}

.custom-ng-select .ng-select-container .ng-input {
  flex-grow: 1;
}

.custom-ng-select .ng-dropdown-panel .ng-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-ng-select .ng-dropdown-panel .ng-option span {
  margin-right: 10px;
}

/* Adjust the width to match the form control */
.custom-ng-select .ng-select {
  width: 100%;
}
